<article class="form-section">
  
    <header>
      <div class="header-text">
          <span><i class="fa fa-lock" aria-hidden="true"></i></span>
          <h4>Login</h4>
      </div>
      <span class="down-arrow">
          <i class="fa fa-caret-down" aria-hidden="true"></i>
      </span>
    </header>
    <!--header ends-->
  
    <div class="form-wrapper">
      <form #loginForm="ngForm" (ngSubmit)="submitForm()" method="POST" action="www" ngNativeValidate>
          <div class="form-group">
              <div class="input-group">
                <div class="input-group-prepend">
                  <div class="input-group-text"><i class="fa fa-envelope" aria-hidden="true"></i></div>
                </div>
                <input [(ngModel)]="login"  
                      id="inputEmailLogin" 
                      name="inputEmailLogin" 
                      type="email" 
                      class="form-control"  
                      placeholder="E-mail" 
                      pattern="[a-z0-9][a-z0-9._%+-]*@[a-z0-9][a-z0-9.-]*\.[a-z]{2,20}" 
                      required="true"
                      title="*Digite um e-mail válido!"/>
              </div>
          </div>   
  
          <div class="form-group">
              <div class="input-group">
                <div class="input-group-prepend">
                  <div class="input-group-text"><i class="fa fa-lock" aria-hidden="true"></i></div>
                </div>
                <input [(ngModel)]="senha"  
                      id="inputPasswordLogin" 
                      name="inputPasswordLogin" 
                      class="form-control" 
                      type="password"  
                      placeholder="Senha" 
                      required="true"/>
              </div>
          </div>   
        
          <div class="submit-button text-center">
              <button type="submit" class="btn btn-block">
                  Login
              </button>
          </div>
      </form>
      <!--form ends-->
  
    </div>
    <!--form-wrapper ends-->
    
  </article>
  <!--article ends-->