
<section id="home-section">
  
  <div class="container">
      <div class="row">
          
        <!--App-Login Component-->
        <div class="col-md-6">
            <div class="row">
                <div class="offset-lg-2 col-lg-9">
                        <app-login></app-login>
                </div>
            </div>
        </div>
        <!--App-Login Component ends-->

        <div class="space-mobile-screen"></div>

        <!--App-Cadastro Component-->
        <div class="col-md-6">
            <div class="row">
                <div class="offset-lg-1 col-lg-10">
                        <app-cadastro></app-cadastro>
                </div>
            </div>
        </div>
        <!--App-Cadastro Component ends-->

      </div>
      <!--row ends-->
  </div>
  <!--container ends-->
  
</section>
<!--section ends-->
