/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Poiret+One');
@import url('https://fonts.googleapis.com/css?family=Raleway:400,500,600');
@import url('https://fonts.googleapis.com/css?family=Cabin:600,700');


body {
    font-family: 'Raleway', sans-serif!important;
}

/* ----------------------------------------------- */
/* -- FORM - SECTION: LOGIN/CADASTRO COMPONENTS -- */
/* ----------------------------------------------- */

.form-section {
    -webkit-box-shadow: 0px 2px 14px -4px rgba(66,66,66,1);
    -moz-box-shadow: 0px 2px 14px -4px rgba(66,66,66,1);
    box-shadow: 0px 2px 14px -4px rgba(66,66,66,1);
}

/* -- header --*/
.form-section header {
    text-align: center;
    padding: 20px 0px 10px;
    position: relative;
}

.form-section header .down-arrow i {
    position: absolute;
    font-size: 60px;
    bottom: -37px;
    margin-left: -18px;
}

/* --header text-- */

.form-section .header-text {
    color: #ffffff;
    text-transform: uppercase;
}

.form-section .header-text h4,
.form-section .header-text h3 {
    font-weight: 600;
    font-family: 'Poiret One', cursive!important;
}



/* --header-text icon -- */

.form-section .header-text i {
    margin-bottom: 10px;
    border: 2px solid;
    border-radius: 100%;
    border-color: #ffffff;
}


/* --form-wrapper --*/

.form-section .form-wrapper {    
    padding: 50px 50px;
    background-color: white;
}


.form-section .form-wrapper .btn {
    color:white;
    padding: 10px 0;
    font-size: 18px;
    font-weight: 600;
    text-transform: uppercase;
}

/* --form-style --*/

.form-section .form-wrapper input {
    padding: 0.8em 2em 0.8em 1.7em;
    color: #858282;
    background-color: #dfdfdf;
    font-size: 17px;
    outline: none;
    font-weight: 500;
    border: 1px solid #dfdfdf;
}


.form-section .form-wrapper input:invalid {
    box-shadow: none;
} 

.form-section .form-wrapper input:focus {
    box-shadow: none;
}

.input-group-text {
    min-width: 42px;
}

.input-group-text i {
    width: 24px;
    font-size: 22px;
}


/** responsive **/

@media (max-width: 492px) {
    .form-section .form-wrapper {
        padding: 50px 20px;
    }
    .input-group-text i {
        width: 18px;
        font-size: 18px;
    }
    .form-section .form-wrapper input {
        font-size: 15px;
    }
}
